@{
    Layout = null;
}
@model MvcApplication15.Models.LoginModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <!-- Bootstrap -->
    <link href="~/Content/css/bootstrap.css" rel="stylesheet">
    <link href="~/Content/css/style.css" rel="stylesheet">
   
</head>

<body style="color:black;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4"></div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                <br><br><img src="~/Content/images/Registration-label.png" class="img-responsive" alt="Responsive image">
                <br>
                <br>
                @using (@Html.BeginForm("Login", "Account"))
                {
                @Html.AntiForgeryToken()        
                @Html.ValidationSummary(true)
    <fieldset>
        <ol>
            <li>
                @Html.LabelFor(model => model.UserName)
                @Html.TextBoxFor(model => model.UserName)
                @Html.ValidationMessageFor(model => model.UserName)
            </li>
            <li>
                @Html.LabelFor(model => model.Password)
                @Html.PasswordFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </li>
            <li>
                @Html.CheckBoxFor(model => model.RememberMe)
                @Html.LabelFor(model => model.RememberMe, new { @class = "checkbox" })
            </li>
        </ol>
        <input type="submit" class="btn btn-primary" title="Вход" value="Вход" />
        
    </fieldset>
                }
                @using (@Html.BeginForm("Register", "Account"))
                {
                @Html.AntiForgeryToken() @Html.ValidationSummary()
                <input type="button" class="btn btn-primary" title="Регистрация" value="Create" onclick="location.href='@Url.Action("Register", "Account")'" />
                }
                
            </div />
            </div>

            <div class="col-md-4 col-sm-4 col-xs-4"></div>
        </div>
    <script src="~/Scripts/bootstrap.js"></script>
</body>
</html>
