@model MvcApplication29.Models.LocalPasswordModel



@using (Html.BeginForm("Manage", "Account")) {
    <fieldset>
 
        <ol style="list-style-type:none"> 
            <li >
                @Html.PasswordFor(m => m.OldPassword)
                @Html.LabelFor(m => m.OldPassword)

            </li>
            <li >
                @Html.PasswordFor(m => m.NewPassword)
                @Html.LabelFor(m => m.NewPassword)

            </li>
            <li >
                @Html.PasswordFor(m => m.ConfirmPassword)
                @Html.LabelFor(m => m.ConfirmPassword)</li>
        </ol>
        <button type="submit" class="btn" >Изменить пароль  </button>
    </fieldset>
}
