@model MvcApplication29.Models.UserData
@{
    Layout = "~/Views/Shared/UserView.cshtml";
}

<script>

    window.onload = function () {
        var a = document.getElementById("BrithDay").value;
        var b = a.indexOf(" ");
        var c = a.substring(0, b);
        document.getElementById("BrithDay").value = c;

    }
</script>
@using (@Html.BeginForm("AddData", "Account"))
{

    <div class="col-md-4 col-sx-4 col-xs-4 " style="background-color: #605e5e">
        <div class="control-group">
            @Html.LabelFor(m => m.Name)
            <div class="controls">
                @Html.TextBoxFor(m => m.Name)
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(m => m.LastName)
            <div class="controls">
                @Html.TextBoxFor(m => m.LastName)
            </div>

        </div>
        <div class="control-group">
            @Html.LabelFor(m => m.BrithDay)
            <div class="controls">
                @*@Html.EditorFor(m => m.BrithDay.Date, new { @type = "date" })*@
                @Html.TextBoxFor(m => m.BrithDay , null, new { @class = "datePicker" })
                @Html.ValidationMessageFor(m => m.BrithDay, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(m => m.City)
            <div class="controls">
                @Html.TextBoxFor(m => m.City)
            </div>
        </div>
        <br />
        <br />
        <br />
       
    </div>

    <div class="col-md-4 col-sm-4 " style="background-color: #605e5e">
        <div class="form-horizontal">
            <div class="control-group">
                @Html.LabelFor(m => m.Phone)
                <div class="controls">
                    @Html.TextBoxFor(m => m.Phone)
                </div>
            </div>


            <div class="control-group">
                @Html.LabelFor(m => m.Skype)
                <div class="controls">
                    @Html.TextBoxFor(m => m.Skype)
                </div>
            </div>

            <div class="control-group">
                @Html.LabelFor(m => m.School)
                <div class="controls">
                    @Html.TextBoxFor(m => m.School)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(m => m.Job)
                <div class="controls">
                    @Html.TextBoxFor(m => m.Job)
                </div>
            </div>
            <br />
            <button type="submit" class="btn btn-primary">Сохранить</button>
            
        </div>
        <br />
    </div>

}
