@model MvcApplication29.Models.UserData

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddData</title>
    <!-- Bootstrap -->
    <link href="~/Content/css/bootstrap.css" rel="stylesheet">
    <link href="~/Content/css/style.css" rel="stylesheet">
</head>



<body style="color:aqua;">
    @using(@Html.BeginForm("AddData", "Account"))
    {
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sx-4 col-xs-4 ">
                <img src="~/Content/images/22.png" class="img-responsive" alt="Responsive image">

                <br>
                <div class="control-group">
                        @Html.LabelFor(m => m.Name)                    
                    <div class="controls">
                        @Html.TextBoxFor(m => m.Name)
                    </div>
                </div>
                <br>
                <div class="control-group">
                    @Html.LabelFor(m => m.LastName)
                    <div class="controls">
                    @Html.TextBoxFor(m => m.LastName)
                    </div>
                    
                </div>
                <br>


                <br> <br>
            </div>
            <div class="col-md-4 col-sm-4 ">

                <br><br><br><br><br>
                <form class="form-horizontal">
                    <div class="control-group">
                        @Html.LabelFor(m => m.BrithDay)
                        <div class="controls">
                        @Html.EditorFor(m => m.BrithDay, new { @type = "date" })
                        </div>
                        </div>
                    <br />
                    <div class="control-group">
                        @Html.LabelFor(m => m.City)
                        <div class="controls">
                            @Html.TextBoxFor(m => m.City)
                        </div>
                    </div>
                    <br />
                    <div class="control-group">
                        @Html.LabelFor(m => m.Phone)
                        <div class="controls">
                            @Html.TextBoxFor(m => m.Phone)
                        </div>
                    </div>
                    <br />
                    <div class="control-group">
                        @Html.LabelFor(m => m.Skype)
                        <div class="controls">
                            @Html.TextBoxFor(m => m.Skype)
                        </div>
                    </div>
                    <br />
                    <div class="control-group">
                        @Html.LabelFor(m => m.School)
                        <div class="controls">
                            @Html.TextBoxFor(m => m.School)
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(m => m.Job)
                        <div class="controls">
                            @Html.TextBoxFor(m => m.Job)
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>
                
        

            </div>
         
        </div>
    </div>
    }
    
</body>
</html>
