@model MvcApplication29.Models.UserData
@{
    Layout = "~/Views/Shared/UserView.cshtml";
    ViewBag.Title = "Информация";
}

<script>

    window.onload = function () {
        var a = document.getElementById("BrithDay").value;
        var b = a.indexOf(" ");
        var c = a.substring(0, b);
        document.getElementById("BrithDay").value = c;

    }
</script>
@using (@Html.BeginForm("AddData", "Account",  FormMethod.Post, new { enctype = "multipart/form-data", Id = "AvatarImage" }))
{
    <br />
    <table class="td">
        <tr>
            <td class="td">@Html.LabelFor(m => m.Name)</td>
            <td class="td">@Html.TextBoxFor(m => m.Name)</td>
            <td rowspan="9" align="center">
                <script>
 function PreviewImages() {
     var inputID = document.getElementById('input_clone');
     var totalImages = inputID.files.length;
     var imagesPerRow = 3;
     var numRows = totalImages / imagesPerRow;
     var row = "";
     var cell = "";
     var element1 = "";
     var elementID = "";

     oFReader = new FileReader();

     oFReader.onload = function (oFREvent) {
         var dataURI = oFREvent.target.result;
         var image = document.getElementById("qw");
         image.src = dataURI;
     };

     oFReader.readAsDataURL(document.getElementById("input_clone").files[0]);

 }

                    window.addEventListener("load", function () {
                        document.getElementById("input_clone").addEventListener("change", PreviewImages, false);
                    }, false);
                    //]]>

                </script>
                <img src="@Model.AvatarUrl" id="qw" width="200px"> <br> 
                <h5>Выберите файл для загрузки</h5>

                    <input type="file" id="input_clone" class="btn" name="upload" /><br>
                </td>
        </tr>
        <tr>
            <td colspan="2" style="color:red;">@Html.ValidationMessage("Name")</td>
        </tr>
        <tr>
            <td class="td">@Html.LabelFor(m => m.LastName)</td>
            <td class="td">@Html.TextBoxFor(m => m.LastName)</td>
        </tr>
        <tr>
            <td colspan="2" style="color:red;">@Html.ValidationMessage("LastName")</td>
        </tr>
        <tr>
            <td class="td">@Html.LabelFor(m => m.BrithDay)</td>
            <td class="td">
                @Html.TextBoxFor(m => m.BrithDay, null, new { @class = "datePicker" })
            @Html.ValidationMessageFor(m => m.BrithDay, "", new { @class = "text-danger" })
        </td>
        </tr>
        <tr>
            <td class="td">@Html.LabelFor(m => m.City)</td>
            <td class="td">@Html.TextBoxFor(m => m.City)</td>
        </tr>
        <tr>
            <td class="td">@Html.LabelFor(m => m.Phone)</td>
            <td class="td">@Html.TextBoxFor(m => m.Phone)</td>
        </tr>
        <tr>
            <td class="td">@Html.LabelFor(m => m.Skype)</td>
            <td class="td">@Html.TextBoxFor(m => m.Skype)</td>
        </tr>
        <tr>
            <td class="td">@Html.LabelFor(m => m.School)</td>
            <td class="td">@Html.TextBoxFor(m => m.School)</td>
        </tr>
        <tr>
            <td class="td">@Html.LabelFor(m => m.Job)</td>
            <td class="td">@Html.TextBoxFor(m => m.Job)</td>
        </tr>
        <tr>
            <td></td>
            <td class="td" align="right"><button type="submit" class="btn">Сохранить</button></td>
        </tr>


        

        

       

       
    </table>


}
