@model MvcApplication29.Models.LoginModel

@{
    ViewBag.Title = "Авторизация";
    Layout = "~/Views/Shared/_RegLog.cshtml";
}

@using (@Html.BeginForm("Login", "Account"))
{
    <h4>@Html.ValidationMessage("MyError")</h4>
    <table align="center">
        <tr>
            <td>@Html.LabelFor(model => model.UserName)</td>
            <td>@Html.TextBoxFor(model => model.UserName)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.Password)</td>
            <td>@Html.PasswordFor(model => model.Password)</td>
        <tr>
            <td align="right"><input type="submit" class="btn" title="Вход" value="Вход" /></td>
            <td align="center"><input type="button" class="btn" title="Регистрация" value="Регистрация" onclick="location.href='@Url.Action("Register", "Account")'" /></td>
        </tr>
    </table>
}