@model MvcApplication29.Models.RegisterModel
@{
    Layout = "~/Views/Shared/_RegLog.cshtml";
    ViewBag.Title = "Регистрация";
}


@using (@Html.BeginForm("Register", "Account"))
{
    
        <h4>@Html.ValidationMessage("MyError")</h4>
  <table align="center">
                            <tr>
                                <td>@Html.LabelFor(model => model.UserName)</td>
                                <td>@Html.TextBoxFor(model => model.UserName)</td>
                                <td align="left" >@Html.ValidationMessageFor(model => model.UserName)</td>
                            </tr>
                            <tr>
                                <td>@Html.LabelFor(model => model.Password)</td>
                                <td>@Html.PasswordFor(model => model.Password)</td>
                            </tr>
                            <tr>
                                <td>@Html.LabelFor(m => m.ConfirmPassword)</td>
                                <td>@Html.PasswordFor(m => m.ConfirmPassword)</td>
                                <td align="left">@Html.ValidationMessageFor(m => m.ConfirmPassword)</td>
                            </tr>
                            <tr>
                                <td>@Html.LabelFor(m => m.EmailAdres)</td>
                                <td>@Html.TextBoxFor(m => m.EmailAdres)</td>
                                <td align="left">@Html.ValidationMessageFor(m => m.EmailAdres)</td>
                            </tr>
                            <tr><td align="center"><input type="submit" class="btn" value="Зарегистрироваться"  /></td></tr>
                        </table>   

         
}

<script>

</script>