@model MvcApplication29.Models.Message

@{
    ViewBag.Title = "Сообщения";
    string Message;
}

<h2>Сообщения</h2>
<div class="col">
    <hr />
    <table width="100%">

        @foreach (var item in ViewBag.DialogList)
        {
            Message = item.Message.Text;
            if (Message.Length > 60)
            {
                Message = Message.Remove(40);
                Message += "...";
            }
            <tr style="cursor:pointer;" onclick="location.href='@Url.Action("Dialog", "Message", new { UserId = item.UserData.UserProfile.UserId })'">

                <td width="110px" height="10%">

                    <img src="@item.UserData.AvatarUrl" height="10%">
                </td>
                <td width="150px">
                    @item.UserData.Name @item.UserData.LastName <br />
                    @item.Message.Time
                </td>
                @if (item.Message.UserPost.UserId == ViewBag.currentUser.UserProfile.UserId)
                {
                    if (item.Message.IsRead)
                    { 
                    <td valign="middle" style="width:600px;">
                        <img src="@ViewBag.currentUser.AvatarUrl" width="70" height="70">
                        @Message
                    </td>
                }
                else
                    {
                        <td valign="middle" style="width:600px; background-color:steelblue;">
                        <img src="@ViewBag.currentUser.AvatarUrl" width="70" height="70">
                        @Message
                    </td>
                    }
                }
                else
                {
                     if (item.Message.IsRead)
                    { 
                    <td valign="middle">@Message</td>
                }
                else
                     {
                        
                         <td valign="middle" style="background-color: steelblue;">@Message</td>
                     }
                }
            </tr>

            <tr><td colspan="3"><hr /></td></tr>
        }




    </table>
</div>    
