@{
    Layout = "~/Views/Shared/UserView.cshtml";

}
@model List<MvcApplication29.Models.RequestFrendsModel>


<h3>Заявки в друзья</h3>

<table border="1" width="100%" style="">


    @foreach (var item in Model)
    {

        int newDivId = 0;

        newDivId = item.User.UserProfile.UserId;
        string wr = "wr" + newDivId.ToString();
        string wind = "wind" + newDivId.ToString();
        string close = "clo" + newDivId.ToString();
      <!-- Message window-->
        <div class="@wr" onclick="sho('none', @newDivId)" id="wr"></div>
        <!--Загрузка аватарки-->
        <div class="@wind" id="wind">
            <!-- Картинка крестика-->
            
            <img  class="clo" onclick="sho('none', @newDivId)" src="http://sergey-oganesyan.ru/wp-content/uploads/2014/01/close.png">
            @{
        Html.RenderAction("PostMessage", "Message", new { UserGetId = item.User.UserProfile.UserId });
            }
        </div>
    <tr height="93px" style="border-bottom-color: LightBlue; border-left-color: LightBlue; " >
        <td width="105"><img src="@item.User.AvatarUrl" height="93" width="105"></td>
        <td width="366px" height="83px" align="center"><h4> @item.User.Name @item.User.LastName <span class="glyphicon glyphicon-globe"></span></h4></td>
        <td height="83px" align="center"><button type="button" class="btn" onclick="sho('block','@newDivId')">Отправить сообщение </button></td>
    </tr>
         <tr>
             <td colspan="2">&nbsp;</td>
             
                                <td  align="right" style="padding-right:5px; padding-bottom:5px;">
                                    <button type="button" class="btn" onclick="location.href='@Url.Action("ConfirmRequest", "Frends", new { id = item.RequestId })'">
                                        Принять 
                                    </button>
                                
                                    <button type="button" class="btn" onclick="location.href='@Url.Action("Renouncement", "Frends", new { id = item.RequestId })'">
                                        Отклонить
                                    </button>
                                </td>
                            </tr>
    }

</table>

<script type="text/javascript">

    //Функция показа
    function sho(state, divId) {
        var s1 = 'wind'+ divId
        var s2 = 'wr'+ divId

        document.getElementsByClassName(s1)[0].style.display = state;
        document.getElementsByClassName(s2)[0].style.display = state;
    }
</script>

